/*
BRAND-COLOR: #6900D3
BRAND-COLOR-SEC: #7BA8C2
BG-COLOR: #FFFFFF
TEXT: #000000
A-LINK: ##B1A8B9
background-color: #

gradient: linear-gradient(to bottom, #6900d3, #f30094, #ff4b58, #ffad3c, #f9f871);
gradient-sec: linear-gradient(to bottom, #6900d3, #5c2ae0, #4b3eeb, #344ff6, #005dff);
gradient-tert: linear-gradient(to bottom, #6900d3, #8b5ae6, #ae93f3, #d4c9fb, #ffffff);
*/

#nav-img{
  margin-left: 20px;
  width: 100px;
}
nav ol{
  list-style: none;
  float: right;
  position: relative;
  top: -70px;
}
nav ol li{
  float: left;
}
nav ol li a:link{
  color: #000000;
  padding: 10px 10px 10px 10px;
}
nav ol li a:visited{
  color: #000000;
}
nav ol li a:hover{
  color: #000000;
  background-color: #b4a2ff;
}
p, ol, ul{
  /*float: left;
  width: 200px;*/
  color: #000000;
}
#contact{
  text-align: center;
}
/*#circle{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 20px;
  background-color: #000000;
}
#circle1{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 20px;
  position: relative;
  top: -60px;
  left: 30px;
  background-color: #B0B0B0;
}*/
footer{
  padding: 0;
  text-align: center;
  background-color: #7851A9;
  font-size: 18px;
  font-weight: bolder;
}