*{
  box-sizing: border-box;
}
h1{
  margin-left: 10px;
}
.codes, .codes-js{
  display: grid;
  grid-row-gap: 10px;
  padding: 10px;
  margin: 20px auto;
  width: fit-content;
  grid-template-columns: 300px;
}
@media screen and (min-width: 630px){
  .codes, .codes-js{
    grid-template-columns: 300px 300px;
    grid-column-gap: 10px;
  }
  h1{
    grid-column: 1 / span 2;
  }
}
@media screen and (min-width: 940px){
  .codes, .codes-js{
    grid-template-columns: 300px 300px 300px;
  }
  h1{
    grid-column: 1 / span 3;
  }
}
.codes div{
  border-radius: 10px;
  padding: 0 20px 20px 20px;
  background-color: #d5cbfb80;
}
.codes-js div{
  border-radius: 10px;
  padding: 0 20px 20px 20px;
  background-color: #fbcbf980;
}
.codes p, .codes-js p{
  color: #808080;
}
.codes img, .codes-js img{
  width: 260px;
  height: 205px;
  border-radius: 10px;
  box-shadow: 0 2px 10px black;
}
.codes img:hover, .codes img:active, .codes-js img:hover, .codes-js img:active{
  box-shadow: 0 1px 5px black;
}