*{
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  font-size: 1rem;
}
h2, blockquote{
  text-align: center;
}
/*four card css codes*/
.container{
  display: flex;
  padding: 1em 0em;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container div{
  text-align: left;
  width: 270px;
  height: 220px;
  box-shadow: 0 10px 10px #b0b0b0;
  padding: 0 20px;
  border-radius: 12px;
}
h2{
  font-weight: 200;
  color: #1b1b1b;
}
h3{
  color: #1b1b1b;
}
.f{
  font-weight: 400;
  color: #757575;
}
#card1{
  border-top: 5px solid red;
}
#card2{
  border-top: 5px solid green;
}
#card3{
  border-top: 5px solid yellow;
}
#card4{
  border-top: 5px solid blue;
}
p a:link, p a:visited{
  font-weight: 600;
  color: #6900d3;
  text-decoration: none;
}
p a:hover, p a:active{
  color: #757575;
  border-bottom: 2px solid #6900d3;
  transition: all 0.1s ease-in 0.02s;
}
@media screen and (min-width: 540px)/* and (max-width: 809px)*/{
  .container{
    flex-flow: row wrap;
    justify-content: center;
  }
  .container div{
    margin: 10px;
  }
}
/*@media screen and (min-width: 810px){
  .container div{
    flex-wrap: nowrap;
  }
}*/
#card1, #card2, #card3, #card4{
  position: relative;
}
#card1 i, #card2 i, #card3 i, #card4 i{
  position: absolute;
  margin: 15px;
  bottom: 0;
  right: 0;
}
.attribution{
  text-align: center;
  font-weight: 400;
  color: #757575;
  margin-top: 20px;
}
.back{
  width: 60px;
  height: 60px;
  position: sticky;
  bottom: 20px;
  left: 50%;
  transform: translateX(180%);
  color: white;
  border: none;
  background-color: #6900d3;
  border-radius: 30px 5px 30px 30px;
  box-shadow: 1px 1px 10px black;
}
.back:hover{
  box-shadow: 1px 1px 5px black;
}
.fas{
  font-size: 20px;
  color: white;
}