* {
  text-align: center;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  position: relative;
  background-color: #19a2ae;
  background-image: url("/Images/bg-pattern-top.svg"), url("/Images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -300px -600px, 600px 300px;
}

body #top {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(-5%, 10%);
}

body #bottom {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-5%, 10%);
}

@media screen and (max-width: 1000px) {
  body {
    background-position: -750px -650px, 200px 250px;
  }
}

#card {
  position: relative;
  width: 350px;
  margin: 100px auto;
}

#card #one {
  height: 140px;
  border-radius: 15px 15px 0 0;
  background-image: url("/Images/bg-pattern-card.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#card #one div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 20%);
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background-color: white;
}

#card #one img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

#card #two {
  border-radius: 0 0 15px 15px;
  background-color: white;
}

#card #two .bold {
  font-weight: 700;
}

#card #two .normal {
  color: #969696;
}

#card #two .group {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 20px 0;
}

#card #two .group .normal {
  padding: 5px 0;
  font-size: 14px;
}

.attribution {
  text-align: center;
  color: #ffffff;
}

.attribution a:link,
.attribution a:visited {
  color: #636363;
  text-decoration: none;
}

.attribution a:hover,
.attribution a:active {
  color: #ffffff;
  border-bottom: 2px solid #6900d3;
  transition: all 0.1s ease-in 0.02s;
}
