/*
BRAND-COLOR: #6900D3
BRAND-COLOR-SEC: #7BA8C2
BG-COLOR: #FFFFFF
TEXT: #000000
A-LINK: ##B1A8B9
footer-color: #EAEAEA

gradient: linear-gradient(to bottom, #6900d3, #0061fc, #008eff, #00b4ff, #00d4ff);
gradient-prim: linear-gradient(to bottom, #6900d3, #f30094, #ff4b58, #ffad3c, #f9f871);
gradient-sec: linear-gradient(to bottom, #6900d3, #8b5ae6, #ae93f3, #d4c9fb, #ffffff);
*/
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #6900D3;
}
#nav-logo a{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
    padding: 0 5px;
    text-decoration: none;
}
header ol{
    position: relative;
    align-content: center;
}
header ol li{
    list-style: none;
}
header ol li a:link{
    padding: 5px 5px 5px 5px;
    color: #FFFFFF;
    text-decoration: none;
}
header ol li a:visited{
    color: #FFFFFF;
}
header ol li a:hover{
    color: #000000;
}
a:link{
    color: #B1A8B9;
    text-decoration: none;
}
a:visited{
    color: rgb(195, 0, 255);
}
a:hover{
    color: black;
}
a:active{
    color: #FF0000;
}
#rect{
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius:50px;
    background: linear-gradient(to bottom, #6900d3, #f30094, #ff4b58, #ffad3c, #f9f871);
}
#tria{
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius:50px;
    background: linear-gradient(to bottom, #6900d3, #0061fc, #008eff, #00b4ff, #00d4ff);
}
#squa{
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius:50px;
    background: linear-gradient(to bottom, #6900d3, #006aff, #009dff, #00c8ff, #8fecff);
}
blockquote{
    padding: 10px;
    font-weight: bold;
    border-left: 4px solid #B1A8B9;
    font-style: italic;
}
hr{
    width: 90%;
}
footer{
    font-weight: bold;
    background-color: #EAEAEA;
    text-align: center;
}