SASS
Images JS/icon-next.svg
Images JS/icon-prev.svg
Images JS/image-john.jpg
Images JS/image-tanya.jpg
Images JS/pattern-bg.svg
Images JS/pattern-curve.svg
Images JS/pattern-quotes.svg
Images/bg-header-desktop.png
Images/bg-header-mobile.png
Images/icon-blacklist.svg
Images/icon-facebook.svg
Images/icon-instagram.svg
Images/icon-preview.svg
Images/icon-text.svg
Images/icon-twitter.svg
Images/image-computer.png
Images/image-devices.png
Images/logo 1.svg
Images/logo-google.png
Images/logo-hp.png
Images/logo-ibm.png
Images/logo-microsoft.png
Images/logo-vector-graphics.png

Codes/clipboard-landing-page.html

CSS/clipboard-landing-page.css

JavaScript/coding-bootcamp-slider.js

Codes JS/coding-bootcamp-slider.html

CSS JS/coding-bootcamp-slider.css
CSS JS/coding-bootcamp-slider.scss